doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../css/form.css')
  title Car registration form
section.section-cta
  .container
    .cta
      .cta-text-box
        p.heading-secondary  Fill in the details of the service
        form#formsignup.cta-form(name='signupform' action='/api/regform' onsubmit='return Validate(event);' method='POST')
          // action=# takes data to the backend
          div
            label(for='fullname') Driver Name 
            input#fullname(type='text' name='fullname' placeholder='James  Milner')
            span#FnameError.organize
          div
             label(for='email') E-mail 
             input#email(type='email' name='email' placeholder='XXX@mail.com')
             span#emailError.organize 
          div
            label(for='password') Enter Password
            input#password(type='password' name='mypassword' placeholder='@Brian1998')
            span#password-error.organize
          div
            label(for='numberplate') Number Plate
            input#numberplate(type='text' name='numberplate' placeholder='')
            span#Nplate-Error.organize
          div
            label(for='carColor') Color
            input#carcolor(type='text' name='carColor' placeholder='')
            span#carColorError.organize
          div
            label(for='arrivalTime') Arrival Time
            input#arrivalTime(type='time' name='arrivaltime' placeholder='')
            span#arrivalTimeError.organize
          //- .col-md-4
          //-   label.form-label(for ="cars") Car Model
          //-   select(name="cars")
          //-     option(value=" ") Choose what to park.
          //-     option(value="truck") Truck
          //-     option(value="personal car") Personal Car
          //-     option(value="taxis") Taxis
          //-     option(value="coasters") Coasters
          //-     option(value="bodabodas") Boda bodas
          //-   span#truckError.organize
          .col-md-6
             label.form-label(for ="Car") Model
             select(name="Car") 
                 option(value=" ") Choose what to park.
                 option(value=" truck") Truck
                 option(value=" personal car") Personal Car
                 option(value=" taxis") Taxis
                 option(value=" coasters") Coasters
                 option(value=" bodabodas") Boda boda
          div
            label(for='time') Date
            input#time(type='date' name='time' placeholder='')
            span#timeError.organize
          div
            label(for='phone') Phone Number
            input#phonenumber(name='phone' type='tel' placeholder='+256')
            span#phoneError.organize
          div
            label(for='nin') NIN
            input#niN-error(type='nin' name='nin' placeholder='')
            span#nin-error.organize
          button.btn.btn--form(type='submit') Submit
// <script src="./DockvilleProject/js/form.js"></script>
script(src='../js/form.js')
