
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='../css/style.css')

a.main-nav-link.nav-cta(href='/api/logout') logout

h1  Parking   dashboard  
//- p you are logged in as: #{User}

head
  meta(charset='UTF-8')
  title Responsiive Admin Dashboard | CodingLab
  link(rel='stylesheet' href='../css/dash.css')
  // Boxicons CDN Link
  link(href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
.sidebar
  .logo-details
    a(href='#')
      img.logo(alt='dockVille logo' src='../img/yes.webp')
    
    //- i.bx.bxl-c-plus-plus
    span.logo_name DOCKVILLE
  ul.nav-links
    li
      a.active(href='#')
        i.bx.bx-grid-alt
        span.links_name Parking Dashboard
    li
      a(href='#')
        i.bx.bx-box
        span.links_name Trucks
    li
      a(href='#')
        i.bx.bx-list-ul
        span.links_name Personal cars
    li
      a(href='#')
        i.bx.bx-pie-chart-alt-2
        span.links_name Taxis
    li
      a(href='#')
        i.bx.bx-coin-stack
        span.links_name Coasters
    li
      a(href='#')
        i.bx.bx-book-alt
        span.links_name Boda bodas
section.home-section
  nav
    .sidebar-button
      i.bx.bx-menu.sidebarBtn
      span.dashboard Dashboard
    .search-box
      input(type='text' placeholder='Search...')
      i.bx.bx-search
    .profile-details
      img(src='../img/brian.jpg' alt='')
      span.admin_name Brian K
      i.bx.bx-chevron-down
  