doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../css/section.css')
  // <link rel="stylesheet" href="../css/general.css">
  title Sections
section.section-meals
  .container.center-text
    span#services.sub-heading Services
    h2.heading-secondary
      | All your services in one place.
  .container.grid.grid--3-cols.margin-bottom-md
    a(href='http://localhost:4000/api/login   ')
      .meal
        img.meal-img(src='../img/car.jpg' alt='')
        .meal-content
          .meal-tag
            span.tag.Tag--vegan Car Parking Unit
    a(href='http://localhost:4000/api/login ')
      .meal
        img.meal-img(src='../img/car tire clinic.jpg' alt='')
        .meal-content
          .meal-tag
            span.tag.Tag--vegan Car tire services 
    a(href='http://localhost:4000/api/login  ')
      .meal
        img.meal-img(src='../img/battery-services.jpg' alt='')
        .meal-content
          .meal-tag
            span.tag.Tag--vegan Battery Services
